:root {
    --clr-bg-main: #28292b;
    --clr-bg-accent: #45567d;
    --clr-accent: #be3144;
    --clr-text: #f0f0f0;

    --ff-header: 'Heebo', sans-serif;
    --ff-paragraph:;
    --ff-accent: 'WindSong', cursive;
}